<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      Welcome back <b>{{ username }}</b>
    </div>
  </header>

  <ul class="msger-chat" id="messages"></ul>

  <form class="msger-inputarea" id="form" action="">
    <input id="input" autocomplete="off" type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/chat.js"></script>
