<div class="join-chat-page">
  <div class="form">
    <h2 class="form-header">Chat app</h2>
    <form action="chat" method="POST">
      <input name="username" placeholder="Enter a username..." type="text" tabindex="1" required autofocus />
      <button type="submit">Join Chat</button>
    </form>
  </div>
</div>
