<div id="container">
  <div id="content">
    <form id='form'>
      <input id="input" type="text" autocomplete="off" name="comment" placeholder="Write a comment...">
      <div class="g-recaptcha" data-sitekey={{ SITE_KEY }}></div>
      <br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <table>
      <thead>
        <tr>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </div>
</div>

<script>
  // Insert comments into the DOM
  function appendComments(comments) {
    const items = document.createElement('tbody');
    items.setAttribute('id', 'tbody');

    for (const comment of comments) {
      const tr = document.createElement('tr');
      const td = document.createElement('td');
      td.textContent = comment;
      tr.appendChild(td);
      items.appendChild(tr);
    }

    // replace rows
    const oldItems = document.getElementById('tbody');
    oldItems.parentNode.replaceChild(items, oldItems);
  }

  // Get all comments from the server
  async function fetchComments() {
    const response = await fetch('/comments');
    const comments = await response.json();

    if (comments?.length) {
      appendComments(comments);
    }
  }

  // Fetch all comments on first load
  window.onload = async () => { await fetchComments(); };

  // Handle form submit
  const form = document.getElementById('form');
  form.onsubmit = async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const obj = {};
    Array.from(formData.entries()).map(([key, value]) => { obj[key] = value; })

    await fetch('/add', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(obj),
    });
    
    grecaptcha.reset();
    input.value = '';
    await fetchComments();
  };
</script>
